* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--gjs-t-color-primary: #cf549e;
	--gjs-t-color-secondary: #b9227d;
	--gjs-t-color-accent: #ffb347;
	--gjs-t-color-success: #28a745;
	--gjs-t-color-warning: #ffc107;
	--gjs-t-color-error: #dc3545;
}

body {
	background-color: #e7e7e7;
	font-family: system-ui, sans-serif;
}

.gjs-t-body {
	background-color: inherit;
	color: inherit;
	font-size: 1rem;
	line-height: 1.75rem;
	font-family: Arial, Helvetica, sans-serif;
}

.gjs-t-h1 {
	color: var(--gjs-t-color-secondary);
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.gjs-plg-flex-column {
	flex-grow: 1;
}

.gjs-t-h2 {
	color: #601843;
	font-size: 1.2rem;
	line-height: 1.75rem;
}

.gjs-plg-flex-row {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

.gjs-t-button {
	background-color: var(--gjs-t-color-primary);
	color: white;
	border-radius: 0.3rem;
}

.gjs-t-link {
	color: var(--gjs-t-color-primary);
	text-decoration: underline;
}

.gjs-t-border {
	border-radius: 0.3rem;
	border-color: #e0e0e0;
}

#ixza9k-4-2 {
	text-align: center;
	position: fixed;
	left: 35%;
	top: 14px;
}

#iyat3v-4-2 {
	padding: 10px;
	font-family: Arial Black, Gadget, sans-serif;
	font-size: 20px;
	position: fixed;
	left: 30%;
}

#ioegnc-4-2 {
	flex-basis: 100%;
	position: fixed;
}

#iw8cyl-4-2 {
	width: 100%;
	height: 71px;
	background-color: rgba(71, 231, 247, 1);
	position: fixed;
}

#isurlf-4-2 {
	padding: 10px;
	color: rgba(219, 19, 19, 1);
}

#i9x2wy-3-2 {
	padding: 10px;
	margin-top: 10%;
	color: rgba(105, 15, 15, 1);
}

#i87861-4-2 {
	padding: 10px;
	opacity: 30%;
	position: fixed;
	top: 15%;
}

#ixd2rh-4-2 {
	flex-basis: 100%;
}

#iftqjy-4-2 {
	margin-top: 75px;
}

#isyow6-3-2 {
	padding: 10px;
	font-size: 20px;
	color: rgba(247, 231, 231, 1);
	font-family: Georgia, serif;
	position: fixed;
	top: 8%;
	left: 60%;
	cursor: pointer;
}

#isyow6-3-2:hover {
	color: rgba(241, 14, 14, 1);
}

#ierpwf-3-2 {
	padding: 10px;
	font-size: 20px;
	color: rgba(247, 231, 231, 1);
	font-family: Georgia, serif;
	position: fixed;
	top: 8%;
	left: 85%;
	cursor: pointer;
}

#ierpwf-3-2:hover {
	color: rgba(239, 18, 18, 1);
}

#izyj8i-3-2 {
	padding: 10px;
	font-size: 20px;
	color: rgba(247, 231, 231, 1);
	font-family: Georgia, serif;
	position: fixed;
	top: 8%;
	left: 68%;
	cursor: pointer;
}

#izyj8i-3-2:hover {
	color: rgba(224, 20, 20, 1);
}

#ivhbhg-3-2 {
	padding: 10px;
	font-size: 20px;
	color: rgba(247, 231, 231, 1);
	font-family: Georgia, serif;
	position: fixed;
	top: 8%;
	left: 75%;
	cursor: pointer;
}

#ivhbhg-3-2:hover {
	color: rgba(241, 19, 19, 1);
}

#iis2az-3-2 {
	padding: 10px;
	position: fixed;
	top: 8%;
	left: 15px;
	font-size: 20px;
	font-family: Georgia, serif;
	color: rgba(239, 230, 230, 1);
	cursor: pointer;
}

#iis2az-3-2:hover {
	color: rgba(226, 29, 29, 1);
}

#i5uvt4-3-2 {
	padding: 10px;
	position: fixed;
	top: 8%;
	left: 86px;
	font-size: 20px;
	color: rgba(241, 228, 228, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#i5uvt4-3-2:hover {
	color: rgba(232, 16, 16, 1);
}

#it1joj-3-2 {
	flex-basis: 100%;
	position: fixed;
	background-color: rgba(7, 9, 11, 1);
	width: 100%;
	height: 8%;
}

#iz70l4-3-2 {
	width: 100%;
	height: 63px;
	position: fixed;
	top: 7%;
	background-color: rgba(139, 190, 183, 1);
}

@media (max-width:992px) {
	#isyow6-3-2 {
		left: 40%;
	}

	#ierpwf-3-2 {
		left: 80%;
	}

	#izyj8i-3-2 {
		left: 53%;
	}

	#ivhbhg-3-2 {
		left: 65%;
	}
}

@media (max-width:768px) {
	#ixza9k-4-2 {
		left: 20%;
	}

	#iyat3v-4-2 {
		left: 20%;
	}

	#isyow6-3-2 {
		left: 35%;
		font-size: 15px;
	}

	#ierpwf-3-2 {
		left: 78%;
		font-size: 15px;
	}

	#izyj8i-3-2 {
		left: 48%;
		font-size: 15px;
	}

	#ivhbhg-3-2 {
		left: 60%;
		font-size: 15px;
	}

	#iis2az-3-2 {
		font-size: 15px;
	}

	#i5uvt4-3-2 {
		font-size: 15px;
	}
}

@media (max-width:480px) {
	#ixza9k-4-2 {
		text-align: center;
		position: fixed;
		left: 5px;
	}

	#iyat3v-4-2 {
		left: 10%;
	}

	#iw8cyl-4-2 {
		position: fixed;
	}

	#isyow6-3-2 {
		left: 33%;
		font-size: 10px;
	}

	#ierpwf-3-2 {
		font-size: 10px;
	}

	#izyj8i-3-2 {
		left: 48%;
		font-size: 10px;
	}

	#ivhbhg-3-2 {
		left: 60%;
		font-size: 10px;
	}

	#iis2az-3-2 {
		font-size: 10px;
		left: 1px;
	}

	#i5uvt4-3-2 {
		font-size: 10px;
		left: 40px;
	}
}