* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--gjs-t-color-primary: #cf549e;
	--gjs-t-color-secondary: #b9227d;
	--gjs-t-color-accent: #ffb347;
	--gjs-t-color-success: #28a745;
	--gjs-t-color-warning: #ffc107;
	--gjs-t-color-error: #dc3545;
}

body {
	background-color: #e7e7e7;
	font-family: system-ui, sans-serif;
}

.gjs-t-body {
	background-color: inherit;
	color: inherit;
	font-size: 1rem;
	line-height: 1.75rem;
	font-family: Arial, Helvetica, sans-serif;
}

.gjs-t-h1 {
	color: var(--gjs-t-color-secondary);
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.gjs-plg-flex-column {
	flex-grow: 1;
}

.gjs-t-h2 {
	color: #601843;
	font-size: 1.2rem;
	line-height: 1.75rem;
}

.gjs-plg-flex-row {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

.gjs-t-button {
	background-color: var(--gjs-t-color-primary);
	color: white;
	border-radius: 0.3rem;
}

.gjs-t-link {
	color: var(--gjs-t-color-primary);
	text-decoration: underline;
}

.gjs-t-border {
	border-radius: 0.3rem;
	border-color: #e0e0e0;
}

#i6j6cu {
	flex-basis: 100%;
	background-color: rgba(71, 231, 247, 1);
}

#i3cxru {
	width: 100%;
	height: 105px;
	background-color: rgba(36, 227, 174, 1);
}

#in4r1q {
	flex-basis: 100%;
}

#iwznft {
	width: 100%;
	height: 57px;
	background-color: rgba(3, 1, 1, 1);
}

#iggk0j {
	flex-basis: 100%;
}

#i9mah5 {
	width: 100%;
	height: 46px;
}

#i3jx1p {
	padding: 10px;
	opacity: 60%;
}

#ibpw4t {
	padding: 10px;
	font-size: 40px;
	font-family: Georgia, serif;
	margin-top: 25px;
}

#ibj8ff {
	text-align: center;
}

#iw1zin {
	padding: 10px;
	font-size: 20px;
	color: rgba(232, 222, 222, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#imfaui {
	padding: 10px;
	font-size: 20px;
	color: rgba(236, 225, 225, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#icqhwx {
	padding: 10px;
	font-size: 20px;
	color: rgba(239, 229, 229, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#ihnw0m {
	padding: 10px;
	font-size: 20px;
	color: rgba(237, 221, 221, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#i6br8f {
	padding: 10px;
	color: rgba(241, 227, 227, 1);
	font-size: 20px;
	font-family: Georgia, serif;
	cursor: pointer;
}

#i097fb {
	padding: 10px;
	font-size: 20px;
	color: rgba(229, 222, 222, 1);
	font-family: Georgia, serif;
	cursor: pointer;
}

#iw1zin:hover {
	color: rgba(234, 18, 18, 1);
}

#imfaui:hover {
	color: rgba(232, 14, 14, 1);
}

#icqhwx:hover {
	color: rgba(224, 30, 30, 1);
}

#ihnw0m:hover {
	color: rgba(224, 13, 13, 1);
}

#i6br8f:hover {
	color: rgba(232, 18, 18, 1);
}

#i097fb:hover {
	color: rgba(229, 22, 22, 1);
}

@media (max-width:768px) {
	#ibj8ff {
		font-size: 30px;
		margin-top: 15px;
	}
}

@media (max-width:480px) {
	#ibj8ff {
		font-size: 18px;
	}

	#iw1zin {
		font-size: 9px;
		margin-left: 1px;
	}

	#imfaui {
		font-size: 9px;
	}

	#icqhwx {
		font-size: 9px;
		margin-left: 1px;
	}

	#ihnw0m {
		font-size: 9px;
	}

	#i6br8f {
		font-size: 9px;
	}

	#i097fb {
		font-size: 9px;
		margin-left: 1px;
	}
}